<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmj.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WanAndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroid">
        <activity
            android:name=".start.StartActivity"
            android:exported="true"
            android:theme="@style/Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cmj.wanandroid.user.UserActivity" />
        <activity android:name=".content.ContentActivity" />
        <activity
            android:name=".content.search.SearchActivity"
            android:theme="@style/Search" />

        <activity android:name=".content.web.WebActivity"
            android:process=":web"
            android:theme="@style/Web" />

        <activity
            android:name="com.cmj.wanandroid.content.web.ContentWebActivity"
            android:process=":web"
            android:theme="@style/Web" />

        <!-- 解决在 12 版本或以上， blockCanary 的 DisplayActivity 未设置 exported 导致无法安装的问题 -->
        <activity
            android:exported="true"
            android:name="com.github.moduth.blockcanary.ui.DisplayActivity"
            android:enabled="false"
            android:icon="@drawable/block_canary_icon"
            android:label="@string/block_canary_display_activity_label"
            android:taskAffinity="com.github.moduth.blockcanary"
            android:theme="@style/block_canary_BlockCanary.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>