<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmj.wanandroid.data.content">

    <application>
        <activity
            android:name="com.cmj.wanandroid.data.content.ContentWebActivity"
            android:process=":web"
            android:theme="@style/Web" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.cmj.wanandroid.common.CommonInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>