<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmj.wanandroid.data.content">

    <application>
        <activity
            android:name="com.cmj.wanandroid.data.content.ContentWebActivity"
            android:process=":web"
            android:theme="@style/Web" />
    </application>
</manifest>